### Rust ###
## Compiler Output ###
target/**

## Cargo ##
Cargo.lock

### Editors/IDEs ###
## VS Code ##
.vscode/**/*
.vscode-test
*.code-workspace

## CLion ##
.idea/discord.xml
.idea/workspace.xml
.idea/httpRequests/**/*
.idea/shelf/**/*
